* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;

}

.container {
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 10px;
    overflow: hidden;

}

.container::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, 
    transparent, #45f3ff, #45f3ff, #45f3ff);
    transform-origin: bottom right ;
    z-index: 1;
    animation: animate 6s linear infinite;
}
.container::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, 
    transparent, #45f3ff, #45f3ff, #45f3ff);
    transform-origin: bottom right ;
    z-index: 1;
    animation: animate 6s linear infinite;
    animation-delay:-3s;
}
@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

form {
    position: absolute;
    inset: 4px;
    background-color: #222;
    padding: 50px 40px;
    border-radius: 10px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.input-box {
    position: relative;
    width: 300px;
    margin-top: 35px;

}

input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: white;

    font-size: 1rem;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;

}

span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1rem;
    letter-spacing: 0.05em;
    transition: 0.5s;

}

input:valid~span,
input:focus~span {
    color: #fff;
    font-size: 0.75rem;
    transform: translateY(-34px);
}

i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;

}

input:valid~i,
input:focus~i {
    height: 44px;
}

.link {
    display: flex;
    justify-content: space-between;
}

a {
    margin: 10px 0;
    font-size: 0.75rem;
    color: #8f8f8f;
    text-decoration: none;
}

a:hover,
a:nth-child(2) {
    color: white;

}

input[type="submit"] {
    border: none;
    outline: none;
    padding: 9px 25px;
    background-color: rgb(71, 69, 69);
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 8px;
    font-weight: 600;
    width: full;
    margin-top: 10px;

}

input[type="submit"]:active {
    opacity: 0.8;
}
.submitbgtn input{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    
letter-spacing: 0.1em;
font-weight: 400;
transition: 0.5s;
}
.submitbgtn input:hover{
    background: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
}
.submitbgtn input:before{
    counter-reset: "";
    position:absolute;
    inset: 2px;
    background: black;
}